#header {
  width: 100%;
  /* height: 80vh; */
  padding-top: 200px;
  padding-bottom: 210px;
  background-image: linear-gradient(
    to left bottom,
    #72abff,
    #a5bdff,
    #cad1fe,
    #e8e7fe,
    #ffffff
  );
}
#header h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color: rgb(157, 58, 58);
}
#header h2 {
  color: #000;
  font-size: 16px;
  margin-bottom: 15px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;

  color: rgb(157, 58, 58);
  border: 2px solid rgb(157, 58, 58);
  text-decoration: none;
}
#header .btn-get-started:hover {
  background: rgb(157, 58, 58);
  color: #fff;
}
.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
#head {
  width: 100%;
  background-color: antiquewhite;
  margin-top: 70px;
}

#head h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
#head .brand-name {
  color: rgb(157, 58, 58);
}
#head h2 {
  text-align: center;
  color: #000;
  font-size: 18px;
}

#head .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s;
  color: rgb(157, 58, 58);
  border: 2px solid rgb(157, 58, 58);
  text-decoration: none;
}
#head .btn-get-started:hover {
  background: rgb(157, 58, 58);
  color: #fff;
}

.header-img {
  text-size-adjust: 50%;
  text-align: left;
}
.h2,
h2 {
  font-size: 18px;
}

@media (max-width: 991px) {
  #header {
    text-align: center;
  }
  #header .header-img {
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #header {
    padding-top: 100px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 100%;
  }
  .col-md-6 {
    flex: auto;
    width: 50%;
  }
}
